
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #ff6600;
    }

    .burger {
        background-color: #ffffff;
        padding: 20px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

  .pag {
    background-color: aqua;

  }




